@use "../helpers" as *;

:root {
	color-scheme: light;

	--color-text: hsl(0, 0%, 5%);
	--color-text-alt: hsl(0, 0%, 40%);
	--color-bg: hsl(0, 0%, 97%);
	--color-layout: hsl(0, 0%, 100%);
	--color-icon: hsl(0, 0%, 40%);
	--color-border: hsl(0, 0%, 94%);
	--color-accent: hsl(216, 90%, 44%);
	--color-accent-alt: hsl(216, 67%, 45%);
	--color-edit: hsl(150, 67%, 45%);
	--color-delete: hsl(348, 67%, 45%);

	--font-family: "Inter", sans-serif;

	--border: #{to-rem(1)} solid var(--color-border);
	--border-radius: #{to-rem(10)};

	--container-width: #{to-rem(640)};
	--container-padding-x: #{to-rem(20)};

	--transition-duration: 0.2s;
}
